{% extends "eduprod/layout.html" %}

{% block content %}
    {% if card %}
        <h2>✏️ Edit Card</h2>
    {% else %}
        <h2>✨ Create New Card</h2>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save Card">
    </form>
    <a href="{% url 'eduprod:card-list' %}">
        Cancel
    </a>
{% endblock %}

<!-- this template extends a layout template, defines a content block for creating or editing a flashcard, displays appropriate headings based on whether it's for creating or editing, renders a form for inputting card details, and provides a cancel link to return to the card list.-->