<form method="post">
    {% csrf_token %}
    <input type="hidden" name="card_id" value="{{card.id}}">
    <input type="hidden" name="solved" value="{{solved}}">
    {% if solved %}
        <input type="submit" value="✅ I know"/>
    {% else %}
        <input type="submit" value="❌ I don't know"/>
    {% endif %}
</form>

<!--  this form allows users to check a flashcard, providing hidden input fields for the card ID and the solved status, and presents buttons for indicating whether the user knows the answer or not.-->